{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

 
{% set faculty_department = content.field_faculty_department %}
{% set faculty_program = content.field_faculty_program %}
{% set faculty_program_director = content.field_faculty_program_director %}
{% set faculty_school = content.field_faculty_school %}
{% set first_name = node.field_first_name.value %}
{% set middle_initial = node.field_middle_initial.value %}
{% set last_name = node.field_last_name.value %}
{% set name_suffix = node.field_name_suffix.value %}
{% set description = node.body.value %}
{% set summary = node.field_summary.value %}
{% set position = node.field_position.value %}
{% set professional_title = node.field_professional_title.value %}
{% set past_education = content.field_past_education %}
{% set expertise = content.field_expertise %}
{% set phone = node.field_phone.value %}
{% set email_address = node.field_email_address.value %}
{% set source_url = node.field_source_url.uri %}
{% set image = node.field_image_url.uri %}
{% set guid = node.field_guid.value %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}


<a href="{{ source_url }}" target="_blank">
  <h1 class="display-title">{{ first_name }} {{ middle_initial }} {{ last_name }} {{ name_suffix }}</h1>
</a>

  <div{{ content_attributes.addClass('content') }}>
    <div class="faculty_image"><img src="{{ image }}"></div>
    <div class="professional_title">{{ professional_title }}</div>
    <div class="position">{{ position }}</div>
    <div class="email">{{ email_address }}</div>
    <div class="phone">{{ phone }}</div>
    <div class="department">Department: {{ faculty_department }}</div>
    <div class="program">Program: {{ faculty_program }}</div>
    <div class="school">School: {{ faculty_school }}</div>
    <div class="program_director">Program Director: {{ faculty_program_director }}</div>
    <div class="past_education">Past Education: {{ past_education }}</div>
    <div class="expertise">Expertise: {{ expertise }}</div>


    <div class="body">
        {% autoescape false %}
          {% if description is empty %}
            {{ summary }}
          {% else %}        
            {{ description }}
          {% endif %}
        {% endautoescape %}
    </div>
  </div>
