{#

Template to display the myUSF Dashboard.

Available variables (global):
* user.roles (current user's roles)

Available variables (usf_dashboard.module)
* dashboard_content.system_roles (available roles in the system)
* dashboard_content.dashboard_user (user object)
* dashboard_content.dashboard_user.id
* dashboard_content.dashboard_user.name.value

#}

<div class="row clearfix">
    <main class="main-content col" id="content" role="main">
        <section class="section">
            <a id="main-content" tabindex="-1"></a>
            <div class="region row region-content">

                {# Print the user's roles#}
                {% for user_role in user.roles %}
                    User's Role: {{ user_role }}<br>
                {% endfor %}
                <br>
                {# Print the system roles #}
                {% for sys_role in dashboard_content.system_roles %}
                    System Role: {{ sys_role.id }}<br>
                {% endfor %}<br>

                {# Is the user an admin? #}
                Is Admin? {{ is_admin }}<br>
                {# Print the users's ID #}
                User ID: {{ dashboard_content.dashboard_user.id }}<br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            </div>

        </section>
    </main>
    <div class="sidebar col-md-3 order-first" id="sidebar_first">
        <aside class="section" role="complementary">
            <p><strong>Welcome, {{ dashboard_content.dashboard_user.name.value }}!</strong></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </aside>
    </div>
    <div class="sidebar col-md-3 order-last" id="sidebar_second">
        <aside class="section" role="complementary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </aside>
    </div>
</div>
