{#

Template to display the myUSF Dashboard.

Available variables (global):
* user.roles (current user's roles)

Available variables (usf_dashboard.module)
* dashboard_content.system_roles (available roles in the system)
* dashboard_content.dashboard_user (user object)
* dashboard_content.dashboard_user.id
* dashboard_content.dashboard_user.name.value

#}
{% set role = user.getroles|join(',') %}

{% if not logged_in %}
    <div class="row usf_dash">

        <div class="col-12"> {# Left "main" column #}
                <div class="row">
                    <div class="col-sm">
                        Please log in to view your dashboard
                    </div>
                </div>
        </div>
    </div>

{% elseif logged_in %}
    <div class="row usf_dash">
        <div class="col-12"> {# Left "main" column #}
            <div class="row appsLinks">
                {% if ('faculty' not in user.getroles) and ('all_access' not in user.getroles) and ('student' not in user.getroles) and ('online_student' not in user.getroles) and ('admitted_student' not in user.getroles) and ('finance' not in user.getroles) and ('employee' not in user.getroles) and ('prehire_faculty' not in user.getroles) and ('prehire_staff' not in user.getroles)  and ('bi_group' not in user.getroles)  and ('vcl-staff' not in user.getroles)  and ('online_intaccept' not in user.getroles) %}

                    <div class="col-sm myApps">
                            {{ drupal_entity('block', "defaultrolestaticlinks") }}
                    </div>

                {% else %}
                    <!-- Beginning of temp FavApps -->    
                    <div class="col-sm myApps">
                        <h2>Top Apps</h2>
                            <div class="views-element-container settings-tray-editable block block-views block-views-blockfavorite-links-block" id="block-views-block-favorite-links-block">
                                <div class="content">
                                    <div class="col-auto">
                                        <div class="view view-favorite-links view-id-favorite_links view-display-id-block">
                                            <div class="view-content row">
                                                <div class="table-responsive col">
                                                    <table class="table views-table views-view-table cols-0">
                                                        <tbody>


                                                            {% if ('admitted_student' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://aphrodite01.usfca.edu:8010/ssomanager/c/SSB?pkg=https://hebe.usfca.edu/prod/bwskpayg.P_DispList" target="_blank">Deposit</a></td></tr>
                                                            {% endif %}


                                                            {% if ('student' in user.getroles) or ('admitted_student' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://goo.gl/7cbmyv" target="_blank">View & Pay</a></td></tr>
                                                            {% endif %}


                                                           {% if ('student' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://bit.ly/2mxJKbn" target="_blank">Student Self-Service</a></td></tr>
                                                            {% endif %}



                                                            {% if ('employee' in user.getroles) or ('faculty' in user.getroles)  %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://mail.google.com/a/usfca.edu" target="_blank">Fac/Staff Email</a></td></tr>
                                                            {% endif %}

                                                           {% if ('student' in user.getroles) or ('admitted_student' in user.getroles)  %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://mail.google.com/a/dons.usfca.edu" target="_blank">Student Email</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://aphrodite01.usfca.edu:8010/ssomanager/c/SSB?pkg=https://hebe.usfca.edu/prod/twbkwbis.P_GenMenu?name=pmenu.P_MainMnu" target="_blank">Employee Self-Service</a></td></tr>
                                                            {% endif %}

                                                           {% if ('faculty' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://aphrodite01.usfca.edu:8010/ssomanager/c/SSB?pkg=https://hebe.usfca.edu/prod/twbkwbis.P_GenMenu?name=bmenu.P_FacMainMnu" target="_blank">Faculty Self-Service</a></td></tr>
                                                            {% endif %}

                                                           {% if ('faculty' in user.getroles) or ('student' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://usfca.instructure.com/" target="_blank">Canvas</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://sso.usfca.edu/saml1/concur" target="_blank">Concur</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://solutions.sciquest.com/apps/Router/SAMLAuth/USF" target="_blank">Hilltop Shop</a></td></tr>
                                                            {% endif %}

                                                           {% if ('student' in user.getroles) %}        
                                                                <tr><td class="views-field views-field-title"><a href="https://csgoldweb.usfca.edu/student/local_login.php" target="_blank">One Card Online Account Balance</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles) %}      
                                                                <tr><td class="views-field views-field-title"><a href="https://calendar.google.com/a/usfca.edu/" target="_blank">Fac/Staff Calendar</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles) %}      
                                                                <tr><td class="views-field views-field-title"><a href="https://drive.google.com/a/usfca.edu" target="_blank">Fac/Staff Drive</a></td></tr>
                                                            {% endif %}

                                                           {% if ('student' in user.getroles) or ('faculty' in user.getroles) %}      
                                                                <tr><td class="views-field views-field-title"><a href="https://hebe.usfca.edu/prod/bwckschd.p_disp_dyn_sched/" target="_blank">Schedule of Classes</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles) %}      
                                                                <tr><td class="views-field views-field-title"><a href="http://athena.usfca.edu:9950/pls/prodax/f?p=250:2:257257583571796" target="_blank">Directory</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles)  or ('student' in user.getroles)  or ('online_student' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="http://www.lynda.com/portal/usf" target="_blank">Lynda.com</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles)  or ('student' in user.getroles)  or ('online_student' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="http://usf.service-now.com/" target="_blank">USF Support</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) or ('faculty' in user.getroles)  or ('student' in user.getroles)  or ('online_student' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="https://sso.usfca.edu/custom/estore/onthehub.html" target="_blank">Personal Software Purchases</a></td></tr>
                                                            {% endif %}

                                                           {% if ('faculty' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="https://myusf.force.com" target="_blank">Early Alert</a></td></tr>
                                                            {% endif %}

                                                           {% if ('faculty' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="https://usfcas.usfca.edu/vcl" target="_blank">Visual Class List</a></td></tr>
                                                            {% endif %}

                                                           {% if ('employee' in user.getroles) %}
                                                                <tr><td class="views-field views-field-title"><a href="https://insight.usfca.edu:11443/ibi_apps/bip/portal/USF_Reports" target="_blank">BI</a></td></tr>
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
  
                                    <div class="view-footer">
                                        <a href="https://login.usfca.edu/ui/main#launch:pad" class="seeMyApps diamond_link_small" target="_blank">View All Apps</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                            
                    <!-- End of temp FavApps -->    
                            {#% if dashboard_content.fav_links %#}
                                {#{ dashboard_content.fav_links }#}
                            {#% endif %#}
                    </div>
        
                    <div class="separator"></div>
                    <div class="col-sm myLinks">
                        <div class="col-sm">Add & manage are temporarily unavailable.</div>
                        {% if dashboard_content.dashboard_user.name.value is not empty %}
                            <h2>{{ dashboard_content.dashboard_user.name.value }}'s Links</h2>
                                {% endif %}
                            {% if dashboard_content.quick_links %}
                                {{ dashboard_content.quick_links }}
                            {% endif %}
                    </div>

                {% endif %}            

            </div>
            <div class="row">           
                <div class="col-12">
                    {{ drupal_view('events_featured', 'block_1') }}
                </div>
                <div class="col-12 eventsLink">

                    {#% if ('as_ug' in user.getroles) or ('som_ug' in user.getroles) or ('sonhp_ug' in user.getroles)  %#}
                        {#% set target = 'Undergraduate Students' #}
                        {#{ drupal_view('event_target_term', 'block_1', target) }#}
                    {#% endif %#}

                    {% if ('student' in user.getroles) and ('as_grad' not in user.getroles) and ('som_grad' not in user.getroles) and ('sonhp_grad' not in user.getroles) and ('soe' not in user.getroles)  %}
                        {% set target = 'Undergraduate Students' %}
                        {{ drupal_view('event_target_term', 'block_1', target) }}
                    {% endif %}

                    {% if ('as_grad' in user.getroles) or ('som_grad' in user.getroles) or ('sonhp_grad' in user.getroles) or ('soe' in user.getroles) or ('law' in user.getroles) %}
                        {% set target = 'Graduate Students' %}
                        {{ drupal_view('event_target_term', 'block_1', target) }}
                    {% endif %}
                    
                    {% if ('faculty' in user.getroles) or ('prehire faculty' in user.getroles) %}
                        {% set target = 'Faculty' %}
                        {{ drupal_view('event_target_term', 'block_1', target) }}
                    {% endif %}

                    {% if ('employee' in user.getroles) or ('prehire staff' in user.getroles) %}
                        {% set target = 'Staff' %}
                        {{ drupal_view('event_target_term', 'block_1', target) }}
                    {% endif %}

                    {% if ('student' not in user.getroles) and ('as_ug' not in user.getroles) and ('som_ug' not in user.getroles) and ('sonhp_ug' not in user.getroles) and ('as_grad' not in user.getroles) and ('som_grad' not in user.getroles) and ('sonhp_grad' not in user.getroles) and ('law' not in user.getroles) and ('faculty' not in user.getroles) and ('prehire faculty' not in user.getroles) and ('employee' not in user.getroles) and ('prehire staff' not in user.getroles)  %}
                        <a href="/calendar">View More Events</a>

                    {% endif %}
                </div>
            </div>
                <div class="row">
                    <div class="col-sm">
                        {{ drupal_view('dashboard_announements', 'block_1', role) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">          
                        {{ drupal_view('dashboard_blocks', 'block_1', role) }}

                        {% if ('as_ug' not in user.getroles) and ('as_grad' not in user.getroles) and ('som_ug' not in user.getroles) and ('som_grad' not in user.getroles) and ('sonhp_ug' not in user.getroles)  and ('sonhp_grad' not in user.getroles)  and ('law' not in user.getroles) %}
                            {{ drupal_view('dashboard_blocks', 'block_2', 'no_role') }}
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
   {% endif %} 
