{#

Template to display the myUSF Dashboard.

Available variables (global):
* user.roles (current user's roles)

Available variables (usf_dashboard.module)
* dashboard_content.system_roles (available roles in the system)
* dashboard_content.dashboard_user (user object)
* dashboard_content.dashboard_user.id
* dashboard_content.dashboard_user.name.value

#}

    <div class="row usf_dash">

        <div class="col-12"> {# Left "main" column #}
            <div class="row">
            <div class="col-sm">
                <h2>Favorite Apps</h2>
                {% if dashboard_content.fav_links %}
                    {{ dashboard_content.fav_links }}
                {% endif %}
            </div>
            <div class="col-sm">
                {% if dashboard_content.dashboard_user.name.value is not empty %}
                    <h2>{{ dashboard_content.dashboard_user.name.value }}'s Links</h2>
                {% endif %}
                {% if dashboard_content.quick_links %}
                    {{ dashboard_content.quick_links }}
                {% endif %}
            </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    {{ drupal_view('events_featured', 'block_1') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                {% if dashboard_content.announcements %}
                    {{ dashboard_content.announcements }}
                {% endif %}
                    {% if dashboard_content.art_sci_ug_block %}
                        {{ dashboard_content.art_sci_ug_block }}
                    {% endif %}
                    {#{{ drupal_entity('block_content', 197, check_access=true) }}#}

                </div>
            </div>
        </div>
    </div>
