{{ attach_library('myusf/video-overlays') }}
{#{% set vid_url = elements['#paragraph'].field_video_url.value.0.uri %}#}
{% set color = elements['#paragraph'].field_colors.value %}

<a href="#" class="video-component {{ color }}"
   data-toggle="modal"
   data-target="#videoModal"
   data-theVideo="{{ new_vid_url }}">

    {{ content.bp_image_field }}
    <span class="video-component_video_icon"><span class="first_word">Watch</span> the Video </span>
    <h2 class="video-component-heading">{{ content.field_heading }}</h2>
    <div class="video-component-body">{{ content.field_body_text }}</div>

</a>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="fluidMedia">
                    <iframe class="video-component-iframe" src=""
                            frameborder="0"
                            seamless="seamless"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .video-component {
        display:block;
        width:691px;
        background-color:#00543C;
    }
    .video-component img {
        width:100%;
    }
    .video-component-heading {
        margin-left:20px;
        color:#FFF !important;
        text-decoration: none !important;
    }
    .video-component-body {
        margin-left:20px;
        color:#FFF !important;
    }
    .video-component-body p {
        color:#FFF !important;
    }
    .video-component-iframe {

    }
    #videoModal .modal-dialog {
        max-width:75%;
    }
    #videoModal .modal-content {
        background-color:transparent;
        border:none;
    }
    .close {
    url(/themes/custom/myusf/images/site/icons.svg) -247px -6px no-repeat;
        height:0px;
        width:0px;
        color: transparent;
    }
    .close:hover {
        color: transparent;
    }

    .fluidMedia {
        position: relative !important;
        padding-bottom: 56.25% !important; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
        margin-bottom:0px;
        padding-top: 30px !important;
        height: 0 !important;
        overflow: hidden !important;
    }
    .fluidMedia iframe {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
</style>