{{ attach_library('myusf/video-overlays') }}
{% set vid_url = elements['#paragraph'].field_video_url.value.0.uri %}
{% set color = elements['#paragraph'].field_colors.value %}


<a href="#" class="video-component {{ color }}"
   data-toggle="modal"
   data-target="#videoModal"
   data-theVideo="{{ vid_url }}">

    {{ content.bp_image_field }}
    <h2 class="video-component-heading">{{ content.field_heading }}</h2>
    <div class="video-component-body">{{ content.field_body_text }}</div>

</a>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="100%" height="350" src=""
                            frameborder="0"
                            seamless="seamless"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .video-component {
        display:block;
        width:691px;
        background-color:#00543C;
    }
    .video-component img {
        width:100%;
    }
    .video-component-heading {
        margin-left:20px;
        color:#FFF !important;
        text-decoration: none !important;
    }
    .video-component-body {
        margin-left:20px;
        color:#FFF !important;
    }
    .video-component-body p {
        color:#FFF !important;
    }
    .modal-content {
        background-color:transparent;
        border:none;
    }
    .close {
    url(/themes/custom/myusf/images/site/icons.svg) -247px -6px no-repeat;
        height:0px;
        width:0px;
        color: transparent;
    }
    .close:hover {
        color: transparent;
    }
</style>