{% if css_style is defined %}
<style type="text/css">
  .tbm.animate .tbm-item > .tbm-submenu, .tbm.animate.slide .tbm-item > .tbm-submenu > div {
  {{ css_style }}
  }
</style>
{% endif %}
<nav {{ attributes }}>
  {% if section == 'frontend' %}
    <button id="tbm-button-id" class="tbm-button" type="button"><span class="visually-hidden">Mobile Menu</span>
      <span class="tbm-button-container">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
    <div class="tbm-collapse {{ block_config['always-show-submenu'] ? ' always-show' : '' }}">
  {% endif %}
  {{ content }}
  {% if section == 'frontend' %}
    </div>
  {% endif %}
</nav>
<script>
  var megaMobileButton = document.getElementById("tbm-button-id");
{# Add the .tbm--mobile class before there is a chance for a flash of unstyled content. #}
if (window.matchMedia("(max-width: {{ block_config['breakpoint']}}px)").matches) {
  document.getElementById("{{ attributes.id }}").classList.add('tbm--mobile');
  megaMobileButton.setAttribute('aria-hidden', 'false');
} else {
  megaMobileButton.setAttribute('aria-hidden', 'true');
}

{#% set hide_mobile = block_config['hide-mobile-menu'] %#}
{% set hide_mobile = 0 %}
var hideMobile = {{ hide_mobile }}
if (hideMobile === 1) {
  document.getElementById('{{ attributes.id }}').classList.add('tbm--mobile-hide')
}

</script>
