
{% include "@myUSFLib/fields/field--paragraph--bp-image-field--video.html.twig" %}
{#{{ items.0.content }}#}
{#{{ kint(items.0.content) }}#}

{#{{ kint(items.0) }}#}
{#{{ label }}#}
{#{{ items }}#}
{#<ol>#}
    {#{% for key, value in _context  %}#}
        {#<li>{{ key }}</li>#}
    {#{% endfor %}#}
{#</ol>#}

{#{{ dump(content.field_social_media_links.0['#paragraph'].field_social_media_network) }}#}
