{{ kint(items.0.content) }}
{#{{ items.0.content }}#}
{#{{ label }}#}
{#{{ items }}#}
{#<ol>#}
    {#{% for key, value in items.0.content  %}#}
        {#<li>{{ value }}</li>#}
    {#{% endfor %}#}
{#</ol>#}

{#{{ dump(content.field_social_media_links.0['#paragraph'].field_social_media_network) }}#}
